<a href="https://colab.research.google.com/github/abdelruhman123/Computer-Science-Entry/blob/main/taask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("D:/dataset/Airbnb_Open_Data.csv" )

df.describe()

C:\Users\DELL\AppData\Local\Temp\ipykernel_17444\3991981989.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:/dataset/Airbnb_Open_Data.csv" )

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [ ]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [ ]:
col = pd.read_csv("D:/dataset/Airbnb_Open_Data.csv", nrows=0).columns
print( col[25] )

license

In [ ]:
df_clean = df.copy()

In [ ]:
df = df.drop('license', axis=1)

Handling Missing Values

In [ ]:
df = df.dropna(subset=['lat', 'long', 'price'])

In [ ]:
df.isnull().any()

id                                False
NAME                               True
host id                           False
host_identity_verified             True
host name                          True
neighbourhood group                True
neighbourhood                      True
lat                               False
long                              False
country                            True
country code                       True
instant_bookable                   True
cancellation_policy                True
room type                         False
Construction year                  True
price                             False
service fee                        True
minimum nights                     True
number of reviews                  True
last review                        True
reviews per month                  True
review rate number                 True
calculated host listings count     True
availability 365                   True
house_rules                        True
dtype: bool

In [ ]:
# i will delete (country and country code ) because all of then is united states
df = df.drop (columns=['country', 'country code'])

In [ ]:
df = df.dropna(subset=['lat', 'long', 'price'])

In [ ]:
df ['service fee'] = df ['service fee'].fillna(0)

In [ ]:
# loobing on the textst columns forn filling the missing value

cols = ['host_identity_verified', 'host name', 'NAME', 'house_rules','neighbourhood group','neighbourhood']
for col in cols:
    df [col] = df [col]. fillna('unknow').astype('string')

In [ ]:
df ['house_rules'] = df['house_rules']. replace ('#NAME?', 'unknown')

In [ ]:
# remove the $ from price  before loobing
df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)
df['service fee'] = df['service fee'].str.replace('$', '').str.replace(',', '').astype(float, errors='ignore')
## loobing on numric value
numeric_columns = {
    'price': 0,
    'minimum nights': 1,
    'number of reviews': 0,
    'reviews per month': 0,
    'review rate number': df['review rate number'].median(),
    'calculated host listings count': 1,
    'availability 365': 0,
    'Construction year': df['Construction year'].median()
}

for col, default_value in numeric_columns.items():
    df[col] = df[col].fillna(default_value).astype('int32' if col != 'review rate number' else 'float64')

In [ ]:
df.isnull().sum()

id                                    0
NAME                                  0
host id                               0
host_identity_verified                0
host name                             0
neighbourhood group                   0
neighbourhood                         0
lat                                   0
long                                  0
instant_bookable                    100
cancellation_policy                  71
room type                             0
Construction year                     0
price                                 0
service fee                         239
minimum nights                        0
number of reviews                     0
last review                       15866
reviews per month                     0
review rate number                    0
calculated host listings count        0
availability 365                      0
house_rules                           0
dtype: int64

In [ ]:
print (df['last review'].head(10))

0    10/19/2021
1     5/21/2022
2           NaN
3      7/5/2019
4    11/19/2018
5     6/22/2019
6     10/5/2017
7     10/5/2017
8     6/24/2019
9     7/21/2017
Name: last review, dtype: object

In [ ]:
# so i wiil convert it into date type
df['last review'] = pd.to_datetime(df['last review'] , errors = 'coerce')
# new review column
df ['review'] = df ['last review'].notna

In [ ]:
df. isnull()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,review
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
102595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
102597,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102598,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [ ]:
df = df.drop( columns=['last review'])

In [ ]:
df .isnull()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,instant_bookable,...,price,service fee,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,review
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102595,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102596,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102597,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
102598,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
print("after cleaning ")
df. info()

after cleaning
<class 'pandas.core.frame.DataFrame'>
Index: 102344 entries, 0 to 102598
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102344 non-null  int64
 1   NAME                            102344 non-null  string
 2   host id                         102344 non-null  int64
 3   host_identity_verified          102344 non-null  string
 4   host name                       102344 non-null  string
 5   neighbourhood group             102344 non-null  string
 6   neighbourhood                   102344 non-null  string
 7   lat                             102344 non-null  float64
 8   long                            102344 non-null  float64
 9   instant_bookable                102244 non-null  object
 10  cancellation_policy             102273 non-null  object
 11  room type                       102344 non-null  object
 12  Construction year               102344 non-null  int32
 13  price                           102344 non-null  int32
 14  service fee                     102105 non-null  float64
 15  minimum nights                  102344 non-null  int32
 16  number of reviews               102344 non-null  int32
 17  reviews per month               102344 non-null  int32
 18  review rate number              102344 non-null  float64
 19  calculated host listings count  102344 non-null  int32
 20  availability 365                102344 non-null  int32
 21  house_rules                     102344 non-null  string
 22  review                          102344 non-null  object
dtypes: float64(4), int32(7), int64(2), object(4), string(6)
memory usage: 16.0+ MB

In [ ]:
print(f"number off dublicates : {df. duplicated().sum()}")

number off dublicates : 541

In [ ]:
df = df. drop_duplicates()

In [ ]:
df.isnull().any()

id                                False
NAME                              False
host id                           False
host_identity_verified            False
host name                         False
neighbourhood group               False
neighbourhood                     False
lat                               False
long                              False
instant_bookable                   True
cancellation_policy                True
room type                         False
Construction year                 False
price                             False
service fee                        True
minimum nights                    False
number of reviews                 False
reviews per month                 False
review rate number                False
calculated host listings count    False
availability 365                  False
house_rules                       False
review                            False
dtype: bool

In [ ]:
df ['service fee'] = df ['service fee'].fillna (0)

In [ ]:
print(df.isnull().any())

id                                False
NAME                              False
host id                           False
host_identity_verified            False
host name                         False
neighbourhood group               False
neighbourhood                     False
lat                               False
long                              False
instant_bookable                   True
cancellation_policy                True
room type                         False
Construction year                 False
price                             False
service fee                       False
minimum nights                    False
number of reviews                 False
reviews per month                 False
review rate number                False
calculated host listings count    False
availability 365                  False
house_rules                       False
review                            False
dtype: bool

In [ ]:
df ['cancellation_policy'] = df ['cancellation_policy'] .fillna (df['cancellation_policy']. mode ()[0])

In [ ]:
df ['instant_bookable'] = df ['instant_bookable'].fillna(df['instant_bookable'] .mode ()[0]).astype('category')

C:\Users\DELL\AppData\Local\Temp\ipykernel_17444\4291786990.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df ['instant_bookable'] = df ['instant_bookable'].fillna(df['instant_bookable'] .mode ()[0]).astype('category')

In [ ]:
print(df.isnull().any())

id                                False
NAME                              False
host id                           False
host_identity_verified            False
host name                         False
neighbourhood group               False
neighbourhood                     False
lat                               False
long                              False
instant_bookable                  False
cancellation_policy               False
room type                         False
Construction year                 False
price                             False
service fee                       False
minimum nights                    False
number of reviews                 False
reviews per month                 False
review rate number                False
calculated host listings count    False
availability 365                  False
house_rules                       False
review                            False
dtype: bool

In [ ]:
df. info()

<class 'pandas.core.frame.DataFrame'>
Index: 101803 entries, 0 to 102057
Data columns (total 23 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              101803 non-null  int64
 1   NAME                            101803 non-null  string
 2   host id                         101803 non-null  int64
 3   host_identity_verified          101803 non-null  string
 4   host name                       101803 non-null  string
 5   neighbourhood group             101803 non-null  string
 6   neighbourhood                   101803 non-null  string
 7   lat                             101803 non-null  float64
 8   long                            101803 non-null  float64
 9   instant_bookable                101803 non-null  category
 10  cancellation_policy             101803 non-null  object
 11  room type                       101803 non-null  object
 12  Construction year               101803 non-null  int32
 13  price                           101803 non-null  int32
 14  service fee                     101803 non-null  float64
 15  minimum nights                  101803 non-null  int32
 16  number of reviews               101803 non-null  int32
 17  reviews per month               101803 non-null  int32
 18  review rate number              101803 non-null  float64
 19  calculated host listings count  101803 non-null  int32
 20  availability 365                101803 non-null  int32
 21  house_rules                     101803 non-null  string
 22  review                          101803 non-null  object
dtypes: category(1), float64(4), int32(7), int64(2), object(3), string(6)
memory usage: 15.2+ MB

In [ ]:
df.to_csv ('Airbnb_Open_Data_clrand.csv', index=False)
print ("file is saved")